@font-face {
    font-family: varsity;
    src: url('varsity_regular.ttf') format('opentype')
}

body{
    background-color: rgb(150, 82, 65);
}

.menu{
    opacity: 0;
    position: relative;
    top: 10px;
    right: 0px;
    transition:all 0.5s ease;
}

#div_clude{
    opacity: 0;
    top: 2px;
    left: 2px;
    height: 140px;
    width: 250px;
    border: solid white 4px;
}

#clude{
    top: 0px;
    left: 0px;
    height: 140px;
    width: 250px;
}

#menu_texto{
    opacity: 0;
    position: absolute;
    top:10px;
    left: 40px;
    transition:all 0.5s ease;
    width: 90vw;
    height: 160px;
    background-size: auto;
}

#div_roupas{
    opacity: 0;
    position: absolute;
    top: 2px;
    left: 260px;
    height: 140px;
    width: 250px;
    border: solid white 4px;
}

#roupas_menu{
    top: 30px;
    left: 2px;
    height: 70px;
    width: 240px;
}

#menu{
    opacity: 0;
    position: relative;
    right: 0px;
    top: 0px;
    height: 150px;
    width: 98vw;
    border: black solid 4px;
    background-color: rgb(150, 82, 65);
    transition:all 0.5s ease;
}

.cinza{
    opacity: 0;
    position: relative;
    top: 0px;
    left: 0px;
    height: 1200px;
    width: 100vw;
    transition:all 0.5s ease;
}

.title{
    position: relative;
    top: 200px;
    height: 500px;
    width: 350px;
}

#clique{
    height: 758px;
    width: 154px;
    position: absolute;
    top: 400px;
    left: 140px;
    opacity: 0;
    transition:all 0.5s ease;
}

#roupas{
    height: 80px;
    width: 300px;
    position: absolute;
    top: 680px;
    left: 240px;
    opacity: 0;
    transition:all 0.5s ease;
    
}

#social {
    height: 80px;
    width: 300px;
    position: absolute;
    top: 800px;
    left: 425px;
}
